__pycache__
.DS_Store
anki.prof
target
/user.bazelrc
.dmypy.json
/.idea/
/.vscode
/.bazel
/windows.bazelrc
/out
/ui/out
node_modules
.env
/users_data/
/ui/web_old
/ui/web_old_bak*
/demo-better-auth-frontend
/instance
/rust_service.log
/api_chain.txt
