@tailwind base;
@tailwind components;
@tailwind utilities;

#dnote-extension-root {
    position: fixed;
    top: 0;
    right: 0;
    background-color: bisque;
    display: none;
    z-index: 99999999;
    width: 400px;
    min-height: 400px;
}