annotated-doc
annotated-types
anyio
black
blinker==1.6.2
build==0.10.0
click==8.1.4
fastapi
Flask==2.3.2
h11==0.14.0
httptools
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mypy
mypy-extensions==1.0.0
mypy-protobuf
packaging==23.1
pathspec==0.11.1
pip-tools
platformdirs==3.8.1
protobuf
pydantic
pydantic_core
pyproject_hooks==1.0.0
pytest
python-dotenv==1.0.0
PyYAML==6.0.1
sniffio==1.3.0
starlette
types-protobuf
typing_extensions
typing-inspection
uvicorn
uvloop
watchfiles
websockets==11.0.3
Werkzeug==2.3.6
