annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
black==25.12.0
blinker==1.6.2
build==0.10.0
cffi==2.0.0
click==8.1.4
cryptography==46.0.4
fastapi==0.128.1
Flask==2.3.2
h11==0.14.0
httptools==0.7.1
httpx==0.28.1
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mypy==1.19.1
mypy-extensions==1.0.0
mypy-protobuf==5.0.0
packaging==23.1
pathspec==0.11.1
pip-tools==7.3.0
platformdirs==3.8.1
protobuf==6.33.5
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
pyproject_hooks==1.0.0
pytest==9.0.2
python-dotenv==1.0.0
PyYAML==6.0.1
setuptools==80.10.2
sniffio==1.3.0
starlette==0.50.0
types-protobuf==6.32.1.20251210
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==11.0.3
Werkzeug==2.3.6
wheel==0.45.1
