:root {
  --sky-blue: #87ceeb;
  --steel-blue: #4682b4;
  --deep-sky-blue: #5cacee;
  --light-gray: #f5f5f5;
  --off-white: #fafafa;
  --light-cream: #fdf4e6;
  --pale-blue: #e6f7ff;
}

@keyframes blink {
  50% {
    background: var(--deep-sky-blue);
  }
}

.blink {
  animation: blink 0.5s linear forwards;
}

.hidden {
  display: none;
}

.save-update-btn {
  z-index: 10;
  max-width: 8em;
}

@media (min-width: 768px) {
  * {
    overflow: hidden;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.note-list-reload-btn:active svg {
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  100% { 
    transform: rotate(-360deg); 
  }
}
