/* styles.css */

.main-note {
  @apply p-2 border;
}

.sub-note { 
  @apply p-4 border;
}

.btn {
  @apply rounded-full px-4 py-2; 
}

/* Add borders */

.main-note,
.sub-note {
  border: 1px solid #ccc; 
}

.notes, 
.card {
  border: 1px solid #999;
}

.layout > div {
  border: 2px dotted #333;
}

@keyframes blink {
  50% {
    background: red;
  }
}

.blink {
  animation: blink 0.5s linear forwards;
}

.hidden {
  display: none;;
}

.keep-it-btn {
  z-index: 10;
  max-width: 8em;
  background: rgba(0,255,0,.8);
}
