/* styles.css */
@keyframes blink {
  50% {
    background: red;
  }
}

.blink {
  animation: blink 0.5s linear forwards;
}

.hidden {
  display: none;;
}

.keep-it-btn {
  z-index: 10;
  max-width: 8em;
  background: rgba(0,255,0,.8);
}
